.header {
  display:flex;
  justify-content:center;
 }
 
 .emoji {
  border-bottom: 1px solid lightgray;

 }
 .emoji:hover {
  background-color:#e7e8e6;
 }
 
 .button {
float:right;
border:none;
background-color: transparent;
 }

 .input{
  width: 100vw;
  box-sizing: border-box;

 }